
html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-image: linear-gradient(
    #128aa7 28px,
    #5ef0ff 1px,
    #10cde1 30px,
    #fff 175px,
    #3fc4d2 175px,
    #0c739f
    );

}

.container{
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    display: block;
    font-family: sans-serif;
    height: calc(100% - 30px);
    margin: auto;
    overflow: hidden;
    width: 991px;
}

/* HEADER start */

.header {
    color: #128aa7;
    height: 175px;
    position: relative;
}

.header-left,
.header-right {
    height: 100%;
}

.header-left {
    width: 30%;
    margin-left: 30px;
    float: left;
}

.logo {
    background-image: url(img/logo.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;

}

.logo-text {
    font-size: 12px;
    position: relative;
    text-align: center;
    top: 100px;
}

.header-right {
    width: calc(70% - 30px);
    height: 100%;
    display: inline-block;
    text-align: right;
}

.contacts {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    height: 50%;
    text-align: right;
    transform: translate(-40px, 10px);
}

.contacts p{
    text-align: left;
}

/*FLAGS start*/

.flags-container {
    display: inline-block;
    text-align: right;
    height: 50%;
    width: 100%;
    transform: translate(-30px,0);
}

.flags li {
    display: inline-block;
    font-size: 10px;
    list-style: none;
    width: 60px;
}

.flasgs li a,span {
    color: #128aa7;
    display: block;
}

.flags li span {
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flags li a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* HEADER end */

/* HERO IMAGE start */

.hero-image {
    overflow: hidden;
    background-image: url(img/hero-img.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*HERO IMAGE end */

/* MAIN MENU start */

.main-menu-wrap {
    -moz-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.25);
    background-color: #323232;
    display: table;
    width: 100%;
    text-align: center;
}

.main-menu {
    display: table-cell;
    height: 30px;
    margin: 0 auto;
    width: 700px;
}

.main-menu > li {
    display: inline-block;
    font-size: 14px;
    height: 100%;
    position: relative;
}

.menu-item-wrap {
    display: table;
    height: 100%;
}

.menu-item-wrap > a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.main-menu-dd {
    -moz-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.25);
    background-color: #323232;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.25);
    box-sizing: border-box;
    display: none;
    left: 0;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.main-menu-dd > li > a {
    color: #fff;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    padding: 10px 20px 10px 10px;
}

ul.main-menu li:hover .main-menu-dd {
    display: block;
}


/* CONTENT start */
.information {
    background-color: #ececec;
    box-sizing: border-box;
    border-right: solid #c7cacf 1px;
    display: block;
    float: left;
    height: 9999px;
    text-align: center;
    width: 209px;
}

.information a{
    color: black;
    display: block;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
}

.information h2 {
    font-family: Tahomd, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

.news {
    background-color: #ececec;
    box-sizing: border-box;
    border-left: solid #c7cacf 1px;
    display: block;
    float: left;
    height: 9999px;
    text-align: center;
    width: 209px;
}

.news h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

.news a {
    color: black;
    display: block;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
}

.content {
    background-color: #fff;
    display: block;
    float: left;
    height: 9999px;
    width: calc(100% - 418px);
}

/* FOOTER */
.footer {
    height: 30px;
    display: table;
    width: 100%;
}

.footer p {
    color: #fff;
    display: table-cell;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

/* FOOTER end */

.arrow {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 7px solid #fff;
    display: inline-block;
    margin-left: 4px;
}

/* MISC */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}